html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}


html {
    width: 100%;
    min-height: 100% !important;
	  box-sizing: border-box;
}
*, *:before, *:after {
	  box-sizing: inherit;
}

body {
	  margin: 0px auto;
    width: 100%;
}


/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.one.column,
.two.columns,
.three.columns,
.four.columns,
.five.columns,
.six.columns,
.seven.columns,
.eight.columns,
.nine.columns,
.ten.columns,
.eleven.columns,
.twelve.columns  {display: block; float: left; padding-left: 10px; padding-right: 10px;}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.one.column.first,
.two.columns.first,
.three.columns.first,
.four.columns.first,
.five.columns.first,
.six.columns.first,
.seven.columns.first,
.eight.columns.first,
.nine.columns.first,
.ten.columns.first,
.eleven.columns.first,
.twelve.columns.first  {padding-left: 0px;}

.one.column.last,
.two.columns.last,
.three.columns.last,
.four.columns.last,
.five.columns.last,
.six.columns.last,
.seven.columns.last,
.eight.columns.last,
.nine.columns.last,
.ten.columns.last,
.eleven.columns.last,
.twelve.columns.last  {padding-right: 0px;}


/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.one.column {width: calc(100% / 12 * 1);}
.two.columns {width: calc(100% / 12 * 2);}
.three.columns {width: calc(100% / 12 * 3);}
.four.columns {width: calc(100% / 12 * 4);}
.five.columns {width: calc(100% / 12 * 5);}
.six.columns {width: calc(100% / 12 * 6);}
.seven.columns {width: calc(100% / 12 * 7);}
.eight.columns {width: calc(100% / 12 * 8);}
.nine.columns {width: calc(100% / 12 * 9);}
.ten.columns {width: calc(100% / 12 * 10);}
.eleven.columns {width: calc(100% / 12 * 11);}
.twelve.columns {width: calc(100% / 12 * 12);}

/* `Indents >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.indent-one {margin-left: calc(100% / 12 * 1);}
.indent-two {margin-left: calc(100% / 12 * 2);}
.indent-three {margin-left: calc(100% / 12 * 3);}
.indent-four {margin-left: calc(100% / 12 * 4);}
.indent-five {margin-left: calc(100% / 12 * 5);}
.indent-six {margin-left: calc(100% / 12 * 6);}
.indent-seven {margin-left: calc(100% / 12 * 7);}
.indent-eight {margin-left: calc(100% / 12 * 8);}
.indent-nine {margin-left: calc(100% / 12 * 9);}
.indent-ten {margin-left: calc(100% / 12 * 10);}
.indent-eleven {margin-left: calc(100% / 12 * 11);}

.container {
	max-width: 1200px;
	margin: auto;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.fill {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden
}

.fill img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%
}

.shrink img{
	width: 100%;
	height: auto;
}

.aboutPadding{
	padding-top: 1000px;
	padding-bottom:50px;
}

.imagePadding{
	padding-top: 60px;
	padding-bottom: 40px;
}

.extend{
	margin: 0px auto;
	width:100%;
}


	 /* Page content */
.content {
	padding: 16px;
}

.footer{
	padding-bottom: 100px;
}

	 /* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	 position: fixed;
	 top: 0;
	 width: 100%
 }

	 /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	 padding-top: 102px;
}



/* animation for price sheet */

/* Our box element */
.box {
width: 150px;
height: 100px;
background-color: #e5e1dd;
box-shadow: 5px 5px 25px #000;
transition: all 1s;
}

/* On hover... */
.box:hover {
/* Increase width */
height: 300px;
/* Change color */
background-color: #e5e1dd;
/* Move the shadow */
box-shadow: -5px 5px 25px #000;
}

/* The first line of text */
.box__blurb {
/* Start with full opacity and centered */
opacity: 1;
transform: translateX(45px);
/* Then transition these chained properties */
transition:
	opacity 0.5s 2s,
	transform 0.5s 0.5s;
}

/* On .box hover... */
.box:hover .box__blurb {
/* Move over to the right
transform: translateX(-500px); */
}

/* The second line of text */
.rect__blurb {
/* Start with no opacity and pushed off the element */
opacity: 0;
transform: translateX(10px);

/* Then transition these chained properties */
transition:
	opacity 0.5s .2s,
	transform 0.5s 1s;
}

/* On .box hover... */
.box:hover .rect__blurb {
/* Face in */
opacity: 1;
/* While entering from the right
transform: translateX(-600px);*/
}
